/* Resetando configurações padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Variáveis CSS */
:root {
    --autura-header: 14vh;
    --largura-all: 100vw;
}

/* Configurações do body */
body {
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
}

/* Estilo do header */
.header {
    background-color: #08415c;
    height: var(--autura-header);
    width: var(--largura-all);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Estilo do menu */
.menu {
    height: 50%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid #70A9A1;
    border-radius: 2px;
}

.menu div, .menu div a {
    text-align: center;
    width: 16%;
    color: #ffffff;
}

.menu div:hover, .menu div:hover a {
    cursor: pointer;
    color: orange;
}

/* Seção de acesso no cabeçalho */
.acesso {
    width: 19%;
    height: 43%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Botão de login */
.acesso .login {
    background-color: #70A9A1;
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 0 0 8px;
    border-right: 2px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: #ffffff;
}

/* Botão de cadastro */
.acesso .cadastro {
    background-color: #70A9A1;
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 8px 8px 0;
    border-left: 2px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    color: #ffffff;
}

.acesso div:hover {
    background-color: #e08e37;
    color: #000000;
    cursor: pointer;
}

/* Login e cadastro boxes */
.login-box, .cadastrar-box {
    background-color: #ffffff;
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilo da seção */
.section {
    width: var(--largura-all);
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* Caixa principal na seção */
.box {
    width: 80vw;
    height: 84vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Login-box principal */
.login-box {
    background-color: #08415c;
    width: 75%;
    height: 93%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-startz;
}

.login-box .nome {
    font-size: 270%;
    width: 45%;
    height: 9%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

/* Campos de entrada dentro da login-box */
.campos {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.campos select {
    height: 69%;
    width: 22%;
}

.slc {
    color: #ffffff;
    height: 7%;
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 65%;
}

/* Configuração do formulário */
.campos form {
    overflow: hidden;
    position: relative;
    width: 80%;
    height: 65%;
}

.campos input {
    color: #fff;
    font-size: 28px;
    width: 100%;
    padding: 20px 5px 5px;
    background-color: #e08e37;
    border: none;
    border-radius: 4px;
}

.campos label {
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.campos span {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 12px;
    transition: all 0.3s ease;
}

.campos input:focus + label span,
.campos input:valid + label span {
    transform: translateY(-150%);
    font-size: 14px;
    bottom: 10px;
    color: #000000;
}

.min {
    width: 100%;
    height: 25%;
}

/* Botão */
button {
    background-color: #e08e37;
    color: #ffffff;
    font-size: 175%;
    width: 25%;
    height: 10%;
}

button:hover {
    background-color: #70A9A1;
    cursor: pointer;
}