*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

/* :root{
    --tamanho-header: 80px;
    --tamanho-footer: 65px;
    --tamanho-banner: calc(62vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-container: calc(100% - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-border-radius: 2px;
} */

:root {
    --autura-header:14vh;
    --largura-all:100vw;
  }

body{
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
}

.header{
    background-color: rgb(255, 0, 0);
    height: var(--autura-header);
    width: var(--largura-all);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menu{
    background-color: blue;
    height: 50%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid #08415C;
    border-radius: 8px;
}
.menu div{
    background-color: rgb(44, 203, 44);
    text-align: center;
    width: 16%;
}
.menu div:hover{
    background-color: #879dc6;
}
.acesso{
    background-color: #aa2424;
    width: 19%;
    height: 43%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.acesso .login{
    background-color: #879dc6;
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 0px 0px 8px;
    border-right: 2px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: #ffffff;
}
.acesso .cadastro{
    background-color: #879dc6;
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 8px 8px 0px;
    border-left: 2px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    color: #ffffff;
}
.acesso div:hover{
    background-color: #e08e37;
    color: #000000;
    cursor: pointer;
}
.login, .cadastrar{
    background-color: #ffffff;
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login span h4{
    background-color: #241c9e;
    font-size: 3vw;
}

.section{
    background-color: rgb(136, 0, 255);
    width: var(--largura-all);
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.campos{
    background-color: #a2bdca;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.campos .campo{
    display: flex;
    flex-direction: column;
    align-items: center;
}