/* Resetando config. padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
html {
    scroll-behavior: smooth;
}

/* Variáveis CSS */
:root {
    --autura-header: 14vh;
    --largura-all: 100vw;
}

/* Configurações body */
body {
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 420vh;
}

/* Estilo do header */
.header {
    background-color: #08415c;
    height: var(--autura-header);
    width: var(--largura-all);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Estilo do menu */
.menu {
    height: 50%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid #70A9A1;
    border-radius: 2px;
}

/* Estilo das tags filho do menu */
.menu div, .menu div a {
    text-align: center;
    width: 16%;
    color: #ffffff;
}

/* Efeito hover no menu */
.menu div:hover, .menu div:hover a {
    cursor: pointer;
    color: orange;
}

/* Estilo da seção de acesso no cabeçalho */
.acesso {
    width: 19%;
    height: 43%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Estilo para o botão de login */
.acesso .login {
    background-color: #70A9A1;
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 0 0 8px;
    border-right: 2px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: #ffffff;
}

/* Estilo para o botão de cadastro */
.acesso .cadastro {
    background-color: #70A9A1;
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 8px 8px 0;
    border-left: 2px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    color: #ffffff;
}

/* Alteração de estilo quando o mouse passa sobre o cadastro e login */
.acesso div:hover {
    background-color: #e08e37;
    color: #000000;
    cursor: pointer;
}

.login-box, .cadastrar-box {
    background-color: #ffffff;
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilo da seção principal */
.section {
    width: var(--largura-all);
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* Imagem principal */
.imagem {
    height: 22%;
    width: 100%;
    background-image: url('../assets/imgs/home.svg');
    background-repeat: no-repeat;
    background-position: center top;
}

/* Seção "Sobre Mim" */
.sobre-mim {
    background-color: #08415c;
    height: 26%;
    width: var(--largura-all);
    display: flex;
    justify-content: center;
    align-items: center;
}

.doma {
    background-repeat: no-repeat;
    background-position: center;
    height: 65%;
    width: 63%;
    display: flex;
    justify-content: center;
}

.pai-imagem {
    height: 72%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.doma img {
    height: 100%;
}

.sobre-mim .sobre-texto {
    height: 78%;
    width: 61%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobre-texto span, .sobre-texto2 span {
    height: 15%;
    width: 25%;
    font-size: 250%;
    color: #e08e37;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Seção "Sobre Mim 2" */
.sobre-mim2 {
    height: 26%;
    width: var(--largura-all);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.eu {
    background-repeat: no-repeat;
    background-position: center;
    height: 65%;
    width: 63%;
    display: flex;
    justify-content: center;
}

.pai-imagem2 {
    height: 72%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eu img {
    height: 100%;
}

.sobre-mim2 .sobre-texto2 {
    height: 78%;
    width: 61%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobre-mim p, .sobre-mim2 p {
    width: 95%;
    font-size: 105%;
}

/* Seção de consulta de receitas */
.consulta-receitas {
    background-color: #08415c;
    height: 26%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.consulta-receitas .selecionar {
    height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selecionar .campos-receita {
    height: 60%;
    width: 60%;
    flex-direction: column;
    justify-content: space-evenly;
    color: #ffffff;
}

.campos-receita span {
    height: 18%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.consulta-receitas .mostrar {
    height: 100%;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mostrar .mensagem {
    background-color: #e08e37;
    height: 85%;
    width: 70%;
    /* color: #ffffff; */
    border-radius: 4px;
    text-align: justify;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;
}

#receita {
    font-family: Arial, sans-serif;
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    height: auto;
    width: auto;
}

.receita-info b {
    font-size: 1.5em;
    color: #333;
}

.receita-info span {
    font-weight: bold;
    color: #555;
}

.receita-info p {
    margin: 5px 0 15px;
    color: #666;
}

/* estilo dos titulos separados das receitas (alterado 08/01/25) */
.receita-titulo{
    background-color: #70A9A1;
    color: #000000;
    border: 2px solid #08415c;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 20px auto;
    padding: 15px;
    height: auto;
    width: auto;
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.receita-titulo span{
    color:blue
}

.receita-titulo:hover{
    background-color: #1a90c7;
    border: 2px solid #70A9A1;
    text-decoration: underline;
    color: blue;
}

/* criando classes e estilos para as estrelas de avaliação de receitas (alterado 25/01/25) */
.classificacao{
    height: auto;
    width: auto;
    display: flex;
}

.classificacao img{
    height: 10%;
    width: 10%;
    cursor: pointer;
}

/* criando classe e estlos para os comentarios (alterado 30/01/25) */
.comentarios {
    background-color: #e08e37; /* Fundo mais escuro para contraste */
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 800px; /* Define uma largura máxima */
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espaço entre os comentários */
}
.comentarios div {
    background-color: #08415c;
    color: #fff;
    width: 100%;
    max-width: 700px; /* Define um limite para evitar esticar muito */
    padding: 15px;
    border-radius: 12px;
    border-left: 5px solid #70A9A1; /* Adiciona um detalhe à esquerda */
    box-shadow: 2px 2px 8px #00000033;
}
.comentarios div h2 {
    font-size: 18px;
    margin: 0 0 5px 0;
}
.comentarios div span {
    font-size: 16px;
    color: #e0e0e0;
    display: block;
}
.comentar {
    background-color: #70A9A1;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
}
.comentar input {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.comentar button {
    background-color: #e08e37;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.comentar button:hover {
    background-color: #333;
}
#p_comentar{
    color: #000000;
    cursor: pointer;
}

/* Botão */
button {
    background-color: #e08e37;
    color: #ffffff;
    font-size: 175%;
    width: 35%;
    height: 10%;
}

button:hover {
    background-color: #70A9A1;
    cursor: pointer;
}

/* Rodapé */
.footer {
    height: 7%;
    width: var(--largura-all);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.contato {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.contato-info {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contato-info img {
    height: 20px;
    width: 20px;
    margin-right: 20px;
}