*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Comic Sans MS, Comic Sans, cursive;
    /* Aumentando tamanho da fonte (alterado 17/01/2025)*/
    font-size: 100%;
}
@import url(https://fonts.gstatic.com/s/merriweather/v30/u-4m0qyriQwlOrhSvowK_l5-eRZBf-LHrw.woff2);

:root{
    --tamanho-header: 80px;
    --tamanho-footer: 65px;
    --tamanho-banner: calc(72vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-container: calc(100% - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-border-radius: 2px;
}

body{
    background-color: #08415c;
    display: flex;
    justify-content: center;
    align-items:center ;
    width: 100%;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}


body .side{
    background-color: #ffffff;
    width: var(--tamanho-banner);
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.side .user{
    width: 100%;
    height: 33vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user .foto{
    height: 20vh;
    width: 45%;
    display: flex;
}
.foto img{
    width: 100%;
    height: 85%;
}

.line{
    width: 90%;
    height: 33vh;
    color: #08415c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 2px solid #08415c;
}
/* nome da classe para box-menu, pois estava conflitando com outra clase que estava sendo declarada com o mesmo nome */
.side .box-menu{
    height: 67vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.menu{
    height: 22vh;
    font-size: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.menu div:hover{
    background-color: #E08E37;
    color: #08415c;
    border-radius: var(--tamanho-border-radius);
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu div a {
    color: #08415c;
}
ul{
    list-style: none;
}
a span{
    color: #08415c;
}
.sair{
    height: 45vh;
    font-size: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.sair div{
    display: flex;
    color: #08415c;
}
.sair div {
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}
.sair .div h2{
    background-color: blue;
}
.sair div h2 a span:hover{
    background-color: #70A9A1;
    color: #FFFF;
    border-radius: var(--tamanho-border-radius);
    width: 30vh;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

/* organizando tamanho da section, pois estava sobrepondo o menu (alterado 22/01/25) */
.section {
    background-color: aqua;
    width: 78%; 
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

/* Estilo da caixa dentro da section */
.box {
    background-color: #515B3a;
    width: 90%; 
    height: 97%;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    border-radius: 10px; 
}

/* troquei a chamada da classe login-box e deixei somente a box, pois as duas estavam fazendo a mesma coisa (alterado 22/01/25) */
/* Estilo do nome dentro da box */
.box .titulo{
    width: 82%; 
    height: 8%;
    font-size: 300%;
    display: flex; 
    flex-direction: column; 
    text-align: center;
    justify-content: center;
}

/* Editei o tamanho dos campos (alterado 22/01/25) */
/* Estilo dos campos de entrada dentro da box */
.campos {
    width: 100%; 
    height: 7%; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-end;
    text-align: center;
}

/* Configurando tamanho e posição dos elementos select para ficar com uma melhor visibilidade para o usuario (alterado 17/01/2025) */
.campos_slc{
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* reconfigurando classe slc para se ajustar com o novo select (alterado 17/01/2025) */
/* alterando estilo na fonte para mehor visualização (alterado 22/01/2025) */
/* Estilo de uma classe específica para alinhamento e espaçamento */
.slc{
    color: #000000; /* Cor interna do texto */
    text-shadow: 
        -1px -1px 0 #ffffff, /* Contorno superior esquerdo */
        1px -1px 0 #ffffff,  /* Contorno superior direito */
        -1px 1px 0 #ffffff,  /* Contorno inferior esquerdo */
        1px 1px 0 #ffffff;   /* Contorno inferior direito */
    font-size: 105%;
    height: 100%; 
    width: 48%; 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
}

/* Configuração do formulário nos campos */
.campos form {
    overflow: hidden; 
    position: relative; 
    width: 90%; 
    height: auto; 
}

.ingred-camp {
    margin: 3px;
}

/* Configuração dos inputs de texto */
.campos input {
    color: #fff; 
    font-size: 18px; 
    width: 100%; 
    height: 85%; 
    padding: 20px 5px 5px; 
    background-color: #e08e37; 
    border: none; 
    border-radius: 4px; 
    display: flex;
}

/* Estilo dos rótulos dos inputs */
.campos label {
    color: #fff; 
    position: absolute; 
    left: 0; 
    bottom: 0; 
    width: 100%; 
    height: 100%; 
    pointer-events: none; 
}

/* Configuração para os spans dentro dos labels */
.campos span {
    position: absolute; 
    bottom: 5px; 
    left: 5px; 
    font-size: 12px; 
    transition: all 0.3s ease; 
}

/* Transforma o título ao focar ou validar o input */
.campos input:focus + label span,
.campos input:valid + label span {
    transform: translateY(-150%); 
    font-size: 5px; 
    bottom: 10px; 
    color: #000000; 
}

.ingredientes {
    width: 100%; 
    height: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingredientes input, .ingredientes select {
    color: #fff;
    background-color: #E08E37;
}

input::placeholder {
    color: #fff;
}

button {
    background-color: #e08e37;
    color: #ffffff; 
    font-size: 175%; 
    width: 25%; 
    height: 10%; 
}

/* Alteração de estilo quando o mouse passa sobre o botão */
button:hover {
    background-color: #70A9A1; 
    cursor: pointer; 
}
